<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <meta charset="UTF-8">
    <!-- This text will be displayed on top of browser -->
    <title>Fake Google</title>

    <br>
    <br>
    <br>
    <br>


    <!-- Link to image -->
    <img class="main"
         src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png"
         alt="Image not found!">

    <h3 class="main">Mwahahahah! You are at the FAKE Google</h3>
    <h3 class="main">Now please login so that I can STEAL your login credentials...... ;)</h3>
    <br>
    <br>
    <h3 class="main">Or, go to the real Google site below: (totally NOT another redirect...)</h3>
    <a class="main" href="https://google.com/search?btnI&q=cwe.mitre.org/data/definitions/601.html"><h4>www.google.com</h4></a>



</body>

<!-- Styles header and image with center alignment -->
<style>
.main {
    margin: 10px auto 20px;
    display: block;
    text-align: center;
    <background-col>Gray</background-col>
}
</style>

</html>