<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <meta charset="UTF-8">
    <!-- This text will be displayed on top of browser -->
    <title>My website</title>

    <!-- Header and subheader on top of page -->
    <h1 class="main">Welcome to my Website</h1>

    <br>
    <br>
    <br>
    <br>
    <br>

    <h2 class="main">Visit the fake Google:</h2>
    <a class="main" href="fake_google"><h4>www.google.com</h4></a>
    <br>
    <h2 class="main">Visit the real Google:</h2>
    <a class="main" href="https://www.google.com/"><h4>www.google.com</h4></a>


</body>

<!-- Styles header and image with center alignment -->
<style>
.main {
    margin: 10px auto 20px;
    display: block;
    text-align: center;
    <background-col>Gray</background-col>
}
</style>

</html>